<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dr. Frank Cold's Office</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <div class="glass"></div>
    <h1>SESSION STARTED...</h1>
    <div class="chat-container">
        <div id="chatBox">
            <div id="displayChatBox">
            </div>
            <div id="typingArea">
                <input type="text" id="inputBar" name="inputBar">
                <button id="sendBtn" onclick="sendMessage()"><img src="{{ url_for('static', filename='send.png') }}" alt="" srcset=""></button>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>